body {
    background-image: url("../images/memphis-mini-dark.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-family: 'Cinzel', serif;
}

.jumbotron {
    background: cyan;
    background-color: cyan;
    margin-top: 2%;
}

.start {
    width: 50%;
    height: 50px;
}